body{
  background-image: linear-gradient(to right, pink , yellow);
}
h1{
  color:white;
  text-align:center;
  border-radius:20px;
  margin-top:100px;
  text-shadow: 5px 5px red;
  font-size:40px;
}

h1::after{
  content:"📱";
}

input{
  margin-left:5px;
  margin-top:30px;
  height:30px;
  width:200px;
  border:none;
  font-size:30px;
}
#container{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

#cal-container{
  height:420px;
  width:290px;
  background-color:white;
  border-radius:10px;
  padding:10px;
}

#output-container{
  height:70px;
  width:290px;
}


#input-container{
  display:grid;
  grid-template-rows:30px 30px 30px 30px;
  grid-template-columns:30px 30px 30px 30px;
  grid-gap:40px;
  margin-left:20px;
}
#input-container #btn1 p,#btn2 p,#btn3 p,#btn4 p{
  background-color:#c6d8ec;
  border-radius:15px;
  padding:4px;
  font-size:25px;
  font-weight:bold;
  color:#585858;
}

#input-container #btn5 p,#btn6 p,#btn7 p,#btn9 p,#btn10 p,#btn11 p,#btn12 p,#btn13 p,#btn14 p,#btn15 p,#btn16 p,#btn17 p{
  font-size:25px;
  font-weight:bold;
  color:#585858;
}

#input-container div{
  cursor:pointer;
}

#input-container #btn8 p{
  font-size:20px;
  font-weight:bold;
  color:white;
  margin-top:140px;
}

#input-container #btn8{
  grid-row:span 4;
  background-color:#99ffcc;
  border-radius:60px;
}

#input-container p{
  text-align:center;
}

#output-container{
  display:flex;
}

#output{
  margin-left:20px;
  font-size:30px;
  font-weight:bolder;
}